html, body {
    margin: 0;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, th {
    text-transform: capitalize;
    margin: 0;
    padding: 0.5rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #333;
}

h2 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #333;
}

h3 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #333;
}

.highlight {
    background-color: #E8EEF7;
    padding: 1rem;
    margin: 0 0 1rem;
    display: block;
}

.highlight .literal {
    color: #066;
}

.highlight .keyword {
    color: #008;
}

.highlight .constant {
    color: #606;
}

.highlight .quote {
    color: #080;
}

.highlight .failure {
    color: #f00;
    font-weight: bold;
    text-decoration: line-through;
}

.specification {
    font: 10pt monospace;
}

.highlight.specification .literal,
.highlight.specification .keyword,
.highlight.specification .constant,
.highlight.specification .quote {
    font-weight: bold;
}

.monospace {
    font: 10pt monospace;
}

.interestingGiven {
    background-color: #FFF4CC;
    padding: 0 0.5rem;
}

.test-failed .results {
    background-color: #FFF6FF;
}

.test-failed .scenario {
    border-left: 0.25rem solid #e74c3c;
}

.test-passed .results {
    background-color: #F2FFEE;
}

.test-passed .scenario {
    border-left: 0.25rem solid #27ae60;
}

ul.contents {
    margin: 0;
    padding: 1rem 0;
}

ul.contents li {
    list-style: none;
    padding-left: 1rem;
}

ul.contents a {
    text-transform: capitalize;
}

a, table a {
    color: #660066;
    text-decoration: none;
}

a:hover, table a:hover {
    text-decoration: underline;
}

table {
    background-color: #F5F9FD;
    border: 1px solid #C3D9FF;
    border-collapse: collapse;
    empty-cells: show;
}

th {
    background-color: #E8EEF7;
    border: 1px solid #C3D9FF;
}

td {
    border: 1px solid #C3D9FF;
}

.testmethod {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px 1px #ddd;
    margin-bottom: 2rem;
}

.specifications ul {
    padding: 0 0 10px 0;
    margin-bottom: 10px;
    margin-right: 20px;
}

.specifications a {
    text-decoration: none;
    color: inherit;
}

.specifications ul li {
    list-style: none;
    padding-left: 5px;;
}

.specifications .test-not-run, .specifications .test-passed {
    border: none;
}

.specifications .test-passed li:first-child::before {
    content: '✓';
    margin-right: 0.5rem;
    color: #27ae60;
}

.specifications .test-failed li:first-child::before {
    content: '✖';
    margin-right: 0.5rem;
    color: #e74c3c;
}

.specifications .specificationTitle {
    margin-bottom: 0.5rem;
}

.specifications .specificationTitle:hover {
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.scenario {
    border-top: 1px solid #ddd;
}

.scenario h2 {
    margin: 0.5rem;
}

.scenarios td {
    padding: 0 1rem;
    text-align: center;
}

div.example {
    margin-bottom: 64px;
}

.hide {
    display: none;
}

.logKey {
    cursor: pointer;
    border-top: 1px solid #eee;
}

.logKey:hover {
    text-decoration: underline;
}

.interestingGivens th {
    text-align: left;
}

.interestingGivens td {
    text-align: right;
    padding: 0 5px;
    vertical-align: middle;
}

.logValue {
    white-space: pre-wrap;
}

.package-name {
    cursor: pointer;
}

.package-name:hover {
    text-decoration: underline;
}

dt {
    font-weight: bold;
    margin: 0px;
    padding: 2px;
}

dd {
    font-weight: normal;
    margin-top:  0px;
    margin-bottom:  1px;
    margin-left:  20px;
    margin-right:  0px;
    padding: 2px;
    padding-right: 0px;
}

dl {
    margin: 0px;
}
dl.index-result {
    padding: 10px;
}
.index-result dt {
    margin-bottom: 5px;
}
.index-result dd {
    margin-left: 0px;
    margin-right: 5px;
}

.toggle {
    float: left;
    width: 40px;
}

.toggle:hover {
    text-decoration: none;
}